{% extends "base.html" %}

{% block title %}Create new offer{% endblock %}

{% block content %}
<div class="form-container">
    <h1>Your offer specifications:</h1>
    <br>
    <form method="POST" action="{% url 'create' %}" enctype="multipart/form-data">
        {% csrf_token %}

        <div class="form-group">
            {{ form.title }}
            {% if form.title.errors %}
                <div class="form-error">{{ form.title.errors|striptags }}</div>
            {% endif %}
        </div>
        <br>
        <div class="form-group">
            {{ form.description }}
            {% if form.description.errors %}
                <div class="form-error">{{ form.description.errors|striptags }}</div>
            {% endif %}
        </div>
        <br>
        <div class="form-group">
            {{ form.price }}
            {% if form.price.errors %}
                <div class="form-error">{{ form.price.errors|striptags }}</div>
            {% endif %}
        </div>
        <br>
        <div class="form-group">
            <label for="{{ form.image.id_for_label }}">{{ form.image.label }}</label>
            {{ form.image }}
            {% if form.image.errors %}
                <div class="form-error">{{ form.image.errors|striptags }}</div>
            {% endif %}
        </div>
        <br>

        <button type="submit" name="save" class="custom-button">Create new</button>
    </form>
</div>
{% endblock %}