{% extends "base.html" %}

{% block title %}My Ads{% endblock %}

{% block content %}
<div class="ads-container">
    <h1>My Offers:</h1>
    <br>


    <!-- Список объявлений -->
    <div class="offers-list">
        {% if offers %}
            {% for offer in offers %}
                <div class="offer-item">
                    <h2>{{ offer.title }}</h2>
                    <p class="offer-description">{{ offer.description }}</p>
                    <p class="offer-meta">
                        <strong>Created:</strong> {{ offer.posted_at|date:"F d, Y H:i" }}
                    </p>
                    <p class="offer-price"><strong>Price:</strong> ${{ offer.price }}</p>
                    <br>
                </div>
            {% endfor %}
        {% else %}
            <p>You have no offers yet.</p>
        {% endif %}
    </div>

        <!-- Ссылка для создания нового объявления -->
        <a href="{% url 'create' %}" class="btn btn-primary">Create New Offer</a>

</div>
{% endblock %}