{% extends "base.html" %}
{% block content %}
<h1 style="text-align: center;">Forum Threads</h1>
<br>
<div class="forum-container">
    <ul class="thread-list">
        {% for thread in threads %}
            <li>
                <a href="{% url 'thread_detail' thread.id %}">{{ thread.topic }}</a>
                <p>By {{ thread.author.username }} on {{ thread.created_at }}</p>
            </li>
        {% endfor %}
    </ul>
</div>
{% if user.is_staff %}
<div class="button-container">
    <a href="{% url 'thread_create' %}" class="button">Create New Thread</a>
</div>
{% endif %}
{% endblock %}