{% extends "base.html" %}
{% block content %}



<!-- Thread List -->
<div class="forum-container">
    <ul class="thread-list">
        {% for thread in threads %}
            <li class="thread-item {% if not thread.offer.is_open %}closed-thread{% endif %}">
                <a href="{% url 'thread_detail' thread.id %}">
                    <h2>{{ thread.topic }}</h2>
                    <p>By {{ thread.author.username }} on {{ thread.created_at }}</p>
                    {% if not thread.offer.is_open %}
                        <span class="closed-label">Closed</span>
                    {% endif %}
                </a>
            </li>
        {% empty %}
            <p>No threads available.</p>
        {% endfor %}
    </ul>
</div>

<!-- Create Thread Button (Visible only to staff users) -->
{% if user.is_staff %}
<div class="button-container">
    <a href="{% url 'thread_create' %}" class="button" style="text-align: left;">Create New Thread</a>
</div>
{% endif %}
<!-- Switch Button at the Bottom -->
<div class="switch-container bottom-switch">
    <a href="?show_closed=false" class="btn {% if not show_closed %}active{% endif %}">Show Open Threads</a>
    <a href="?show_closed=true" class="btn {% if show_closed %}active{% endif %}">Show Closed Threads</a>
</div>
<style>

</style>
{% endblock %}