{% extends "base.html" %}

{% block title %}Edit Offer{% endblock %}

{% block content %}
<div class="form-container">
    <h1>Edit your offer specifications:</h1>
    <br>
    <p><strong>Note:</strong> Editing this offer will change its status to "Pending" until it is reviewed by an admin.</p>
    <br>
    <form method="POST" action="{% url 'edit_offer' offer.id %}" enctype="multipart/form-data">
        {% csrf_token %}

        <div class="form-group">
            {{ form.title }}
            {% if form.title.errors %}
                <div class="form-error">{{ form.title.errors|striptags }}</div>
            {% endif %}
        </div>
        <br>
        <div class="form-group">
            {{ form.description }}
            {% if form.description.errors %}
                <div class="form-error">{{ form.description.errors|striptags }}</div>
            {% endif %}
        </div>
        <br>
        <div class="form-group">
            {{ form.price }}
            {% if form.price.errors %}
                <div class="form-error">{{ form.price.errors|striptags }}</div>
            {% endif %}
        </div>
        <br>
        <div class="form-group">
            <label for="{{ form.image.id_for_label }}">{{ form.image.label }}</label>
            {{ form.image }}
            {% if form.image.errors %}
                <div class="form-error">{{ form.image.errors|striptags }}</div>
            {% endif %}
        </div>
        <br>

        <button type="submit" name="save" class="custom-button">Save Changes</button>
        <a href="{% url 'item_index' offer.id %}" class="custom-button cancel-button">Cancel</a>
    </form>
</div>
{% endblock %}