{% extends "base.html" %} {% block content %}
{% load static %}

<section>
    <img
        src="{{ offer.image }}"
        alt="{{ offer.title }}"
    />
</section>

<h1></h1>

<ul style="list-style-type: none; padding-left: 20px;">
    <li style="margin-bottom: 50px;">
        <h2 style="font-size: 1em; font-weight: bold;">TITLE: {{ offer.title }}</h2>
    </li>

    <li style="margin-bottom: 50px;">
        <p style="margin-left: 10px; font-size: 0.75em;">DESCRIPTION: {{ offer.description }}</p>
    </li>

    <li style="margin-bottom: 50px;">
        <p style="margin-left: 10px; font-size: 0.75em;">COST: is ${{ offer.price }}</p>
    </li>

    <li style="margin-bottom: 50px;">
        <p style="margin-left: 10px; font-size: 0.75em;">DATE: {{ offer.posted_date }}</p>
    </li>
</ul>

{% endblock %}