{% extends "base.html" %} 
{% block content %}
<head>Offer list:</head>
<h1></h1>
<br>
<ul class="offer-list">
    {% for offer in offers %}
        <li class="offer-item">
            <div class="offer-title">
                <a style="color:green;" href="offermain/{{ offer.id }}">{{ offer.title }}</a>
            </div>
            <div class="offer-price">
                ${{ offer.price }}
            </div>
        </li>
    {% endfor %}
</ul>

<style>
    .offer-list {
        list-style-type: none;
        padding: 0;
    }
    .offer-item {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 10px;
    }
    .offer-title {
        flex: 1;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        margin-right: 20px;
    }
    .offer-price {
        flex-shrink: 0;
    }
</style>

{% endblock %}